/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  letter-spacing: 0.5px;
  background-color: #fff;
  color: #222;
}
img
{
  max-width: 100%;
  height: auto;
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *** CONTAINER *** */
.container
{
  max-width: 600px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
button:hover{
  opacity: 0.8;
}
/* ** MAIN CONTENT ** */
.main-content
{
  padding-top: 200px;
  flex-grow: 1;
}
.shopping-app{
  background-color:antiquewhite;
  padding: 24px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
}
.input{
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
}
.add-btn {
  padding: 8px 14px;
  width: 120px;
  border: none;
  border-radius: 4px;
  background-color: burlywood;
  text-transform: capitalize;
  font-weight: bold;
  margin-left: 24px;
  cursor: pointer;
}
#list{
  width: 100%;
  padding: 0;
  margin: 0;
}
#list li {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #222;
  text-transform: capitalize;
  background-color: #fff;
  padding: 0 10px;
  padding-right: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#list li:not(:last-child) {
  margin-bottom: 10px;
}

li button{
  display: block;
}

.done{
  background-color: greenyellow!important;
  color: #fff!important;
  opacity: 0.8;
}